.cart__page {
  &__table {
    border: 1px solid #ddd;
    width: 100%;
    @include mobile {
      border: none;
      border-collapse: separate;
    }
    thead {
      background-color: #ecf0f1;
      @include mobile {
        display: none;
      }
    }
    th {
      padding: 12px 8px;
      font-weight: 700;
    }
    td {
      text-align: center;
      padding: 1.25rem 0;
      border: 1px solid #ddd;
      @include mobile {
        padding: 1rem;
        display: block;
        width: 100%;
        padding-left: 25%;
        text-align: right;
        border-bottom: 1px solid #999;
        position: relative;
        &::before {
          content: attr(data-title);
          position: absolute;
          left: 1rem;
          top: 50%;
          display: block;
          font-weight: 600;
          padding: 0;
          transform: translateY(-50%);
        }
      }
    }
    tr {
      @include mobile {
        border: 1px solid #000;
        display: block;
        margin: 1.25rem 0;
      }
    }

    &__item {
      &-img {
        width: 5.625rem;
        height: 5.625rem;
        object-fit: cover;
        margin: 0 auto;
        display: inline-block;
      }
      &-action {
        @include mobile {
          // padding-left: 1rem !important;
          padding: 10px !important;
        }
        .action-btn {
          @include mobile {
            width: 100%;
          }
        }
      }
    }
  }
}
