:root {
  --white: #fff;
  --black: #000;
  --pink: #ea0d42;
  --dark-pink: #870f2b;
  --cream: #fbe5cb;
  --orange: #ff9d2d;
  --light-green: #a7f3d0;
  --dark-blue: #2d2a6e;

  --background: #faf7f2;
  --light-gray: #f0f1f2;
  --dark-gray: #747676;
}
