.search__popup {
  position: absolute;
  top: 0;
  z-index: 50;
  width: 100%;
  transform: translateY(-100%);
  transition: 0.5s ease;
  opacity: 0;
  &.active {
    transform: translateY(0);
    transition: 0.5s ease;
    opacity: 1;
  }
  &__content {
    height: 31.25rem;
    &-close {
      position: absolute;
      top: 1.25rem;
      right: 1.25rem;
      svg {
        width: 1.875rem;
        height: 1.875rem;
        padding: 0.5rem;
        border-radius: 50%;
        cursor: pointer;
      }
    }
  }
}
