.cartpopup {
  &__center {
    &::-webkit-scrollbar {
      width: 0.25rem;
    }
    &::-webkit-scrollbar-track {
      background-color: #fafafa;
    }
    &::-webkit-scrollbar-thumb {
      background: var(--pink);
      border-radius: 3.125rem;
    }
  }
}
